.glow-button {
  min-width: 100px;
  height: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  background-color: rgba(57, 35, 93, 1);
  margin: 5px;
  box-shadow: 0 6px 20px 1px rgba(57, 35, 93, .9);
  transition: box-shadow 0.5s ease-in-out, background-color 0.5s ease-in-out;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  &:hover {
    background-color: rgba(49,31,81, 1);
    box-shadow: 0 6px 20px 1px rgba(49,31,81, .9);
  }
}
