$primary: #4038a5;
$primary_dark: #38248b;
$accent: #FF7779;
$accent_light: #FFA5A7;
$header-text-color: $primary;
$body-text-color: rgba(0, 0, 0, 0.5);
$quote-color: $primary;
$accent_font: 'Open Sans',
sans-serif;
$primary_font: 'Roboto',
sans-serif;
$light_background: #F6F9FC;
