$primary: #4038a5;
$primary_dark: #38248b;

$accent: #FF7779;
$accent_light: #FFA5A7;

$text-color: #212121;
$quote-color: #616161;
$accent_font: 'Open Sans', sans-serif;
$primary_font: 'Roboto', sans-serif;
